* {
    box-sizing: border-box;
    background-color:aliceblue;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
}

.home {
    max-width: 900px;
    margin: 100px auto;
    margin-bottom: 0px;
    padding: 20px;
}

.mid-page {
    max-width: 900px;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
}

.lower-page {
    max-width: 900px;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
}

.education {
    max-width: 900px;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
}

footer {
    justify-content: center;
    text-align: left;
    margin: auto;
    padding: 20px;
}